@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter_18pt-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter_18pt-Bold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter_18pt-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(./fonts/PlusJakartaSans-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(./fonts/PlusJakartaSans-Bold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(./fonts/PlusJakartaSans-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Offside";
  src: url(./fonts/Offside-Regular.woff2);
  font-weight: 400;
}

// ── Variables ────────────────────────────────
$font-inter: "Inter", sans-serif;
$font-jakarta: "PlusJakartaSans", sans-serif;
$font-offside: "Offside", sans-serif;

$color-white:      #F8FAFC;
$color-light-grey: #E5E7EB;
$color-grey:       #6B7280;
$color-dark-grey:  #1F2937;
$color-green:      #059669;
$color-orange:     #F59E0B;

$color-green-hover: #047857;
$color-green-light: #D1FAE5;
$surface:           #FFFFFF;
$surface-alt:       #F3F4F6;

//Breakpoints
$grid-breakpoints:("xs": 420px,
  "s":560px,
  "m": 768px,
  "l": 1024px,
  "xl": 1200px);

